{% load static %}

{% block body %}
	{% include 'admin_navigation.html' %}

	<script>
		function checkpass() 
		{
			if (document.change_pwd.newpwd.value != document.change_pwd.newcpwd.value) 
			{
				alert('New Password and New Confirm Password does not match');
				document.change_pwd.newcpwd.focus();
				return false;
			}

			return true;
		}
	</script>

	<marquee width="100%" style="font-family: Monotype Corsiva; font-size:25px; color:floralwhite; background-color: darkcyan; font-weight: bold; margin-top: 1%;">
		Change Password - Admin
	</marquee>
	
	<hr>

	<form class="container mt-5" method="post" name="change_pwd" onsubmit="return checkpass()">
		{% csrf_token %} <!-- Cross Site Request Folder -->
		<label><b>Current Password</b></label>
		<input type="password" class="form-control" name="currentpwd" placeholder="Enter Current Pasword" required>

		<br>

		<label><b>New Password</b></label>
		<input type="password" class="form-control" name="newpwd" placeholder="Enter New Pasword" required>

		<br>

		<label><b>Confirm New Password</b></label>
		<input type="password" class="form-control" name="newcpwd" placeholder="Enter Confirm New Pasword" required>
		
		<input type="submit" value="Submit" class="btn btn-primary" style="margin-top:4%; margin-bottom:4%; color:white; background-color:darkcyan; height: 40px;">
	</form>

	{% if error == "no"  %} 
		<script>
			alert("Your Password Changed Successfully...!!")
		</script>
			
	{% elif error == "yes" %}
		<script>
			alert("Invalid Login Credentials, Try Again...!!")
		</script>

	{% elif error == "not" %}
		<script>
			alert("Your Current Password is Wrong.")
		</script>
	{% endif %}
{% endblock %}