{% load static %}

<footer class="mt-5" style="background-color:black; width: 100%; height: 100%;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-3" style="margin-bottom: 5%;">
				<h3 class="text-white" style="margin : 3%; margin-bottom:5%;">Contact Information</h3>

				<p style="color:yellow; font-size: 15px;">
					<i class="fa fa-map-marker" style="color:red;">
					</i>
					  Gujarat, India.
				</p>

				<p style="color:yellow; font-size: 15px;">
					<i class="fa fa-envelope" style="color:red;">
					</i>
					onlinejobportal@gmail.com
				</p>

				<p style="color:yellow; font-size: 15px;">
					<i class="fa fa-mobile" style="color:red;">
					</i>
					  +91 1234567890
				</p>

				<p style="color:yellow; font-size: 15px;">
					<i class="fa fa-globe" style="color:red;">
					</i>
					 www.onlinejobportal.com
				</p>
			</div>	

			<div class="col-md-6 mt-3" style="margin-bottom: 5%;" >
				<h3 class="text-white" style="margin : 3%; margin-bottom:5%;">Job Portal</h3>
				<li style="color:yellow; font-size: 15px;">A 
					Recruitment Website is a website that deals specially with Recruitment or Careers.
				</li> 

				<br>
					
				<li style="color:yellow; font-size: 15px;">
					Many Recruitment Websites are designed to allow Recruiters to Post Job Requirements for a Position to be filled and are commonly known as Job Portal/Boards.
				</li>
				
			</div>	

			<!-- <div class="col-md-5 mt-3">
				<h3 class="text-white" style="margin:3%; margin-bottom:5%;">Drop a Mail</h3>

				<form method="post" class="form-initiative">
					{% csrf_token %}

					<input type="email" name="emailid">
				</form>
			</div> -->
		</div>
	</div>
</footer>
